/* Add here all your css styles (customizations) */

.padding-left-200 { padding-left: 200px;}
.padding-right-200 { padding-right: 200px;}

@media (max-width: 992px) {
	.md-padding-right-200 { padding-right: 200px;}
}


/* 产品详情页导航 引用自：profile 左侧导航 /assets/css/pages/profile.css */
.profile .list-group i {
    margin-right: 5px;
    min-width: 20px;
    text-align: center;
}

.profile .profile-body {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 20px;
    margin-bottom: 30px;
}


.profile .cbp_tmlabel {
    background: #fff none repeat scroll 0 0;
    /*background: #f3f3f3 none repeat scroll 0 0;*/
    clear: both;
    color: #fff;
    line-height: 1.4;
    margin: 20px 10px 40px 10px;
    padding: 10px 20px 20px;
    /*position: relative;*/
}

.profile .cbp_tmlabel h2 {
    border-bottom: 1px solid #ddd;
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 0 5px;
    text-transform: capitalize;
}

/*product_detail 样式*/
div.breadcrumbs-v3 h1, div.breadcrumbs-v3 p{
    color: #e3000e;
    font-family: microsoft yahei;
}

div.content-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.breadcrumbs-v3.img-v1 {
  background: url(../img/breadcrumbs/industries_slice4.png) no-repeat;
}

/*div.blog {
    margin-top: 40px;
}

div.blog p{
    font-size: 18px;
}*/
/*product_detail 样式*/

.prod_detail_imgs img {
    width: 100%;
}


.captcha img {
    position: absolute;
}


/*用户注册登录页面样式
------------------------------------*/
.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

.modal-content .modal-reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
}

/*Reg Header*/
.reg-header {
    color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}

.reg-header h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
    color: #777;
}

.reg-page .input-group-addon {
    color: #bbb;
    background: none;
    min-width: 40px;
}

/*modal Reg Forms*/
.modal-reg-page label {
    color: #777;
}

.modal-reg-page .input-group-addon {
    color: #bbb;
    background: none;
    min-width: 40px;
}


/*Job
------------------------------------*/
.job-img {
    overflow: hidden;
    position: relative;
    min-height: 140px;
    background: url(../img/bg/11.jpg) 70% 40% no-repeat;
  background-size: cover;
  background-position: center center;   
}

.job-img .job-banner {
    padding: 20px;
    max-width: 450px;
    margin: 30px auto 30px;    
    background: rgba(255,255,255,0.8);
}

.job-img .job-banner h2 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

